<a href="https://colab.research.google.com/github/NGONGOCHA/HK2-nam1/blob/main/B%C3%A0i_t%E1%BA%ADp_pandas_2_Data_frame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1: Tạo các Series với kích thước 1x10 thỏa mãn yêu cầu:
- Series 1: có tên là “Họ và tên” và dữ liệu (định tính) do bạn tự nhập vào
- Series 2: có tên là “Ngày sinh” & dữ liệu do bạn tự nhập vào
- Series 3: có tên là “Tiền công/h” có dữ liệu định lượng do bạn tự nhập
- Series 4: có tên là “Số h công” có dữ liệu định lượng do bạn tự nhập
- Series 5: có tên là “Thực lĩnh” có kích thước 1x10 và để trống

Hãy:
- Tạo 1 dataframe bằng cách ghép các series trên lại với nhau
- Hãy tính giá trị cho cột (column) “Thực lĩnh” theo công thức:
Thực lĩnh = “Số h công” x “Tiền công/h”

- Hãy in toàn bộ dataframe ở trên ra màn hình

In [1]:
import pandas as pd
import string
import random

ho = ["Ngô", "Lê", "Hoàng", "Trần"]
dem = ["Ngọc", "Thị", "Văn", "Nhật"]
ten = ["Hà", "Quý", "Quỳnh", "Thanh"]
ns = ["15/9/2003", "30/4/2003", "12/3/2003", "1/11/2003", "4/12/2003", "15/3/2003", "15/8/2003", "23/7/2003", "14/10/2003","9/6/2003"]

hvt = [random.choice(ho)+" "+random.choice(dem)+" "+random.choice(ten) for i in range(10)]
tch = [random.randint(10000, 20000) for i in range(10)]
h = [random.randint(1, 10) for i in range(10)]

In [8]:
sr1 = pd.Series(hvt)
sr2 = pd.Series(ns)
sr3 = pd.Series(tch)
sr4 = pd.Series(h)
thuc_linh = [sr3[i]*sr4[i] for i in range(10)]
sr5 = pd.Series(thuc_linh)

data = {
    "Họ và tên":sr1,
    "Ngày sinh":sr2,
    "Tiền công 1 giờ": sr3,
    "Số giờ công": sr4,
    "Thực lĩnh": sr5
}
df = pd.DataFrame(data)
df

        Họ và tên   Ngày sinh  Tiền công 1 giờ  Số giờ công  Thực lĩnh
0   Lê Nhật Thanh   15/9/2003            14411            9     129699
1     Lê Nhật Quý   30/4/2003            11911            1      11911
2    Trần Văn Quý   12/3/2003            17548            6     105288
3      Ngô Thị Hà   1/11/2003            18762            1      18762
4    Lê Thị Thanh   4/12/2003            14023            4      56092
5    Trần Nhật Hà   15/3/2003            10035            4      40140
6     Ngô Thị Quý   15/8/2003            16151            8     129208
7  Ngô Nhật Quỳnh   23/7/2003            11335           10     113350
8   Hoàng Nhật Hà  14/10/2003            15015            9     135135
9  Trần Thị Thanh    9/6/2003            19734            6     118404

Câu 2: Khởi tạo dataframe bằng các phương pháp khác nhau, hãy:
- Tạo dataframe có kích thước 10x3 từ cấu trúc list tương ứng, với dữ liệu cho dataframe
này gồm các cột Họ tên, Tuổi và Giới tính. Xuất kết quả ra màn hình;

In [3]:
tuoi = [random.randint(18, 30) for i in range(10)]
gt = [random.choice(["Nam", "Nữ"]) for i in range(10)]

data = {
    "Họ tên": hvt,
    "Tuổi": tuoi,
    "Giới tính": gt
}

df = pd.DataFrame(data)
df

           Họ tên  Tuổi Giới tính
0   Lê Nhật Thanh    19        Nữ
1     Lê Nhật Quý    28        Nữ
2    Trần Văn Quý    27       Nam
3      Ngô Thị Hà    29        Nữ
4    Lê Thị Thanh    18       Nam
5    Trần Nhật Hà    24        Nữ
6     Ngô Thị Quý    27        Nữ
7  Ngô Nhật Quỳnh    30       Nam
8   Hoàng Nhật Hà    18        Nữ
9  Trần Thị Thanh    19        Nữ

- Tạo dataframe như trên nhưng từ cấu trúc Dictionary có chứa các List giá trị tương ứng với key. Xuất kết quả ra màn hình

In [4]:
hoa = ["hồng", "lan", "cúc", "vạn thọ", "đồng tiền", "giấy"]
qua = ["táo", "lê", "mận", "đào", "mít", "xoài"]

data = {
    "Hoa": hoa,
    "Quả": qua
}

df = pd.DataFrame(data)
df

         Hoa   Quả
0       hồng   táo
1        lan    lê
2        cúc   mận
3    vạn thọ   đào
4  đồng tiền   mít
5       giấy  xoài

- Tạo dataframe như trên nhưng từ cấu trúc List của các dictionary. Xuất kết quả ra màn hình;

In [5]:
df = pd.DataFrame(data.values())
df

      0    1    2        3          4     5
0  hồng  lan  cúc  vạn thọ  đồng tiền  giấy
1   táo   lê  mận      đào        mít  xoài

- Tạo 3 list (1x10) tương ứng với Họ tên, Tuổi và Giới tính. Sử dụng hàm zip() để tạo dataframe từ 3 list riêng biệt này. Xuất kết quả ra màn hình.

In [6]:
df = pd.DataFrame(zip(hvt, tuoi, gt))
df

                0   1    2
0   Lê Nhật Thanh  19   Nữ
1     Lê Nhật Quý  28   Nữ
2    Trần Văn Quý  27  Nam
3      Ngô Thị Hà  29   Nữ
4    Lê Thị Thanh  18  Nam
5    Trần Nhật Hà  24   Nữ
6     Ngô Thị Quý  27   Nữ
7  Ngô Nhật Quỳnh  30  Nam
8   Hoàng Nhật Hà  18   Nữ
9  Trần Thị Thanh  19   Nữ